.container{
   font-family: 'Convergence', sans-serif;
}
.brand h2{
   color: dimgray;
   font-weight: bold;
}
.care{
   color: rgb(21, 4, 177);
}
.menu{
   margin-left:120px;
   font-weight: 500;
}
.slid h1{
   font-weight: 900;
   line-height: 1.5em;
   color: bisque;
}
.slid p{
   font-weight: 400;
   line-height: 1.8em;
   color: bisque;
}
.title{
   font-weight: bold;
}
.explor{
   background-color: #F4FAFD;
   margin-left: -12px;
}
.review h2{
   font-weight: bold;
}
.subcribe{
   background-color: #289BDE;
   border-radius: 5px;
}
.students h5, p{
   color: dimgray;
}
.fa-star{
   color: gold;
}
.social i{
   color: white;
   font-size: 20px;
   padding: 5px;
}